p{
    font-size: 30px;
}
h1{
    font-weight: 100;
    font-style:italic;
}
#c4{
    color:#3C74F7;
}
.color1{
    color:#5191FD;
}
.color2{
    color:#1647E9;
}
.color3{
    color:#1C54F5;
}
.color4{
    color:#F6A615;
}
.color5{
    color:#E82A37;
}
.color6{
    color:#0DA921;
}
.color7{
    color:#133AD9;
}
.color8{
    color:#D82732;
}
.color9{
    color:#A64847;
}